/**
 TODO(you): Add CSS for the list that you create yourself!
*/
body {
  margin: 0;
}

.header {
  width: 100%;
  height: 500px;
  background: url(../images/header-cat.jpg);
  background-size: cover;
  background-position-y: 50%;
  display: flex;
  align-items: flex-end;
}

.profile {
  margin: 0 0 50px 50px;
  background: white url(../images/man.png);
  width: 200px;
  height: 200px;
  background-size: cover;
  border-radius: 100%;
  border: 5px ghostwhite solid;
}

.profile::before {
  content: '鄭昆庭';
  position: absolute;
  top: 450px;
  color: white;
  text-align: center;
  width: 200px;
  font-size: 20px;
}

.profile::after {
  content: 'Love and cat';
  position: absolute;
  top: 470px;
  color: white;
  text-align: center;
  width: 200px;
  font-size: 20px;
}

h1 {
  margin: 0;
  text-align: center;
}

.cat {
  margin: 50px auto;
  width: 80%;
  display: flex;
  flex-direction: row;
}

.cat:nth-child(2n) {
  flex-direction: row-reverse;
}

.cat-image {
  width: 50%;
  height: 50%;
}

.cat-data {
  width: 50%;
}

.cat-name {
  display: block;
  text-decoration: none;
  color: salmon;
  text-align: center;
}
